/* Preliminarise */
@charset "utf-8";

/* Variable */

:root {
    --base_white: url(../IMAGE&VIDEO/noisy-texture-100x100-o4-d10-c-f7f2f4-t0.png);
    --base_black: #333333;
    --footer_text: #d8d8d8;
    --nav_text: #000;
    --nav_text_size: clamp(30px, 2.196vw, 50px);
    --glass_color: 227, 244, 255, 0.2;
    --text_color: #737373;
    --footer_color: #111;
    --glass_card_text: #e6e6e6;
}

/* Base */
body {
    font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
        "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    background: var(--base_white);
}

#horizontal-area {
    overflow: hidden;
}

/*
 header 
*/

/* Navigation button */
header {
    display: flex;
    justify-content: end;
    color: var(--nav_text);
}

button {
    width: clamp(50px, 3.66vw, 60px);
    height: clamp(50px, 3.66vw, 60px);
    position: relative;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    background: rgba(var(--glass_color));
    backdrop-filter: blur(20px);
    top: 0;
    right: 0;
    border-radius: 3px;
}

button span {
    display: block;
    width: clamp(30px, 2.196vw, 40px);
    height: clamp(2px, 0.22vw, 5px);
    border-radius: 50px;
    background: #000;
    position: absolute;
    top: 45%;
    left: 50%;
    transition: all 0.3s 0.2s ease-out;
}

button span:nth-child(1) {
    transform: translate(-50%, 5px);
}

button span:nth-child(2) {
    transform: translate(-50%, -5px);
}

/* Navigation menu */

.nav-wraper {
    width: 33.309vw;
    height: 100vh;
    background: rgba(var(--glass_color));
    backdrop-filter: blur(20px);
    transform: translate(100%);
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    transition: all 0.24s 0.5s ease-out;
    overscroll-behavior: none;
}


nav {
    font-size: var(--nav_text_size);
    line-height: clamp(36px, 2.635vw, 60px);
    font-weight: bold;
}

#navigation_link {
    width: clamp(200px, 14.202vw, 320px);
    position: fixed;
    bottom: clamp(30px, 3.66vw, 100px);
    left: clamp(30px, 3.66vw, 100px);
}

nav ul:first-child {
    margin-bottom: clamp(5px, 0.65vw, 50px);
    padding-bottom: clamp(5px, 0.65vw, 50px);
    border-bottom: solid 2px var(--nav_text);
}

nav ul:last-child li:last-child {
    letter-spacing: 0.025em;
}

/* Active navigation time */

.active span:first-child {
    transform: translate(-50%, 50%) rotate(45deg);
}

.active span:last-child {
    transform: translate(-50%, 50%) rotate(-45deg);
}

.open {
    transform: translate(0);
}

/* 
Main
*/

/* Hero video */
.hero {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero_video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#name {
    width: 100vw;
    height: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.85;
}

/* 
Parallax
*/

/* About */
.parallax_about {
    position: relative;
}

#about-link {
    width: 42.899vw;
}

#about-link h1 {
    line-height: 1em;
    font-size: clamp( 60px, 10.417vh, 240px);
    color: var(--text_color);
    margin-bottom: 0.25em;
}

#about-link h2 {
    line-height: 2em;
    font-size: clamp( 30px, 2.196vw, 90px);
    font-family: yu-mincho-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--text_color);
}

#about-link p {
    line-height: 1.8em;
    font-size:  clamp( 13px, 2.083vh, 39px);
    font-family: yu-mincho-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--text_color);
    white-space: nowrap;
}

#about-link p span {
    width: auto;
    display: inline-block;
    letter-spacing: 0.13em;
    margin-right: 0.732vw;
}

/* Parallax about photos */
.para_photo_lemon {
    width: 61.849vh;
    height: auto;
    position: absolute;
    bottom: 2.562vw;
    left: 38.799vw;
    z-index: 30;
}

.para_photo_sapporo {
    width: 23.06vw;
    height: auto;
    position: absolute;
    top: 13.909vw;
    left: 74.305vw;
    z-index: 10;
}

/* Interest */
/* Parallax interest photos */
.parallax_interest {
    position: relative;
    padding: 2.562vw 14.641vw 2.562vw 12.811vw;
}

.para_photo_autumn {
    width: 27.818vw;
    height: auto;
    position: absolute;
    bottom: 9.883vw;
    left: 13.104vw;
    z-index: 20;
}

.para_photo_starry {
    width: 74.349vh;
    height: auto;
    position: absolute;
    top: 2.562vw;
    left: 34.261vw;
    z-index: 40;
}

/* Interest text */
#interest-link {
    width: 39.312vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
}

#interest-link h1 {
    line-height: 1em;
    font-size: clamp( 60px, 10.417vh, 240px);
    color: var(--text_color);
    margin-bottom: .5em;
}

#interest-link p {
    line-height: 1.8em;
    font-size:  clamp( 13px, 2.083vh, 39px);
    font-family: yu-mincho-pr6n, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--text_color);
    white-space: nowrap;
}

#interest-link p span {
    display: inline-block;
    letter-spacing: 0.13em;
    margin-right: 0.732vw;
}

/* 
Portfolios
*/

.portfolios {
    padding: 12.006vw 18.009vw;
}

.portfolios-box {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: start;
}

.title_wraper {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.portfolios-box h1 {
    line-height: 1em;
    font-size: 5.857vw;
    color: #f2f2f2;
}

.portfolio-card {
    height: clamp( 200px, 21.962vw, 500px);
    width: clamp( 200px, 21.962vw, 500px);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
}

.portfolio_card_wraper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.portfolio-card .portfolio-content {
    font-size: clamp( 20px, 1.83vw, 50px);
    color: var(--glass_card_text);
    white-space: nowrap;
    transform: translateY(150px);
    opacity: 0;
}

.portfolio-card .portfolio-content a {
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 50px;
    overflow: hidden;
    color: var(--base_black);
    background-color: var(--glass_card_text);
}

.kitakan {
    background-image: url(../IMAGE&VIDEO/kitakan300.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 13.324vw;
}

/* 
Footer
*/

footer {
    padding: 0px;
    height: 40.776vw;
    color: var(--footer_text);
}

.footer_wraper {
    position: relative;
    padding: 10.249vw 0 4.392vw 7.321vw;
}

.footer-box {
    position: absolute;
    bottom: clamp( 20px, 8vw, 50px);
    width: clamp(200px, 14.202vw, 320px);
}

.footer-box>div>img {
    margin-bottom: 3.66vw;
    border-radius: 50%;
    overflow: hidden;
}

.footer-box>div~div {
    font-size: var(--nav_text_size);
    line-height: clamp(36px, 2.635vw, 60px);
    font-weight: bold;
}

.top-box {
    margin-bottom: clamp(5px, 0.65vw, 50px);
    padding-bottom: clamp(5px, 0.65vw, 50px);
    border-bottom: solid 2px var(--footer_text);
}

.bottom-box li:last-child {
    letter-spacing: 0.025em;
}

.bottom-box ul {
    margin-bottom: 5.124vw;
}

small {
    font-size: clamp( 12px, 0.952vw, 20px);
}
